---
layout: contact_sidebar
---

<a href="#page_header" class="sr-only sr-only-focusable">You are on step 5 of 7. Skip to main content</a>

<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 71.45%" aria-valuenow="71.45" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<h2 id="page_header">Tell us about your animals</h2>

<form>
  <div class="js-have-animals-selection">
    <fieldset>
      <legend>Do you currently have any animals that live in your home or visit often?</legend>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="animalsRadios" id="animalsRadios1" value="Yes">
        <label class="form-check-label" for="animalsRadios1">
        Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="animalsRadios" id="animalsRadios2" value="No">
        <label class="form-check-label" for="animalsRadios2">
        No
        </label>
      </div>
    </fieldset>
  </div>

  <div class="d-none js-have-animals-followup">

    <fieldset>
      <legend>Do any dogs live in your home or visit often?</legend>
      <div class="js-have-dog-selection">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="dogsRadios" id="dogsRadios1" value="Yes">
          <label class="form-check-label" for="dogsRadios1">
          Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="dogsRadios" id="dogsRadios2" value="No">
          <label class="form-check-label" for="dogsRadios2">
          No
          </label>
        </div>
      </div>
    </fieldset>

    {% include add_dog_info_form.html %}

    <div class="js-have-dog-followup d-none">
      <fieldset>
        <legend>Are all of the above dogs spayed or neutered?</legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="dog_spayedRadios" id="dog_spayedRadios1" value="Yes">
          <label class="form-check-label" for="dog_spayedRadios1">
          Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="dog_spayedRadios" id="dog_spayedRadios2" value="No">
          <label class="form-check-label" for="dog_spayedRadios2">
          No
          </label>
        </div>
      </fieldset>
      {% include add_explanation.html %}
    </div>

    <div class="js-have-dog-followup d-none form-group">
      <div class="js-dog-rabies-selector">
        <fieldset>
          <legend>Do all of the above dogs have current rabies vaccinations?</legend>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dog_rabiesRadios" id="dog_rabiesRadios1" value="Yes">
            <label class="form-check-label" for="dog_rabiesRadios1">
            Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="dog_rabiesRadios" id="dog_rabiesRadios2" value="No">
            <label class="form-check-label" for="dog_rabiesRadios2">
            No
            </label>
          </div>
        </fieldset>
      </div>
      <div class="alert alert-warning d-none js-dog-rabies-alert row" role="alert">
          <i class="fas fa-exclamation-triangle fa-2x fa-fw col-md-1"></i>
          <div class="col-md-11 alert-body">
            <p>You may still continue the application, but please vaccinate your dogs or make sure any dogs visiting your home often get vaccinated by their owners before bringing home a foster animal.</p>
            <p>By law in the State of Texas, all dogs must be vaccinated for rabies. </p>
          </div>
      </div>
      {% include add_explanation.html %}
    </div>
  </div>

  <div class="js-have-cat-selection js-have-animals-followup d-none">
    <fieldset>
      <legend>Do any cats live in your home or visit often?</legend>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="catsRadios" id="catsRadios1" value="Yes">
        <label class="form-check-label" for="catsRadios1">
        Yes
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="catsRadios" id="catsRadios2" value="No">
        <label class="form-check-label" for="catsRadios2">
        No
        </label>
      </div>
    </fieldset>
  </div>


  {% include add_cat_info_form.html %}


  <div class="d-none js-have-animals-followup">
    <div class="d-none js-have-cat-followup">
      <fieldset>
        <legend>Are all of the above cats spayed or neutered?</legend>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="cat_spayedRadios" id="cat_spayedRadios1" value="Yes">
            <label class="form-check-label" for="cat_spayedRadios1">
            Yes
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="cat_spayedRadios" id="cat_spayedRadios2" value="No">
          <label class="form-check-label" for="cat_spayedRadios2">
          No
          </label>
        </div>
      </fieldset>
      {% include add_explanation.html %}
    </div>

    <div class="d-none js-have-cat-followup">
      <div class="js-cat-rabies-selector">
        <fieldset>
          <legend>Do all of the above cats have current rabies vaccinations?</legend>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="cat_rabiesRadios" id="cat_rabiesRadios1" value="Yes">
            <label class="form-check-label" for="cat_rabiesRadios1">
              Yes
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="cat_rabiesRadios" id="cat_rabiesRadios2" value="No">
            <label class="form-check-label" for="cat_rabiesRadios2">
              No
            </label>
          </div>
        </fieldset>
      </div>
      <div class="alert alert-warning d-none js-cat-rabies-alert row" role="alert">
          <i class="fas fa-exclamation-triangle fa-2x fa-fw col-md-1"></i>
          <div class="col-md-11 alert-body">
            <p>You may still continue the application, but please vaccinate your cats or make sure any cats coming into your home often get vaccinated by their owners before bringing home a foster animal.</p>
            <p>By law in the State of Texas, all cats must be vaccinated for rabies. </p>
          </div>
      </div>
      {% include add_explanation.html %}
    </div>
  </div>


  <div class="d-none js-have-animals-followup">
    <div class="js-have-other-selection">
      <fieldset>
        <legend>Do any other types of animals live in your home or visit often?</legend>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="other_animalsRadios" id="other_animalsRadios1" value="Yes">
          <label class="form-check-label" for="other_animalsRadios1">
            Yes
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="other_animalsRadios" id="other_animalsRadios2" value="No">
          <label class="form-check-label" for="other_animalsRadios2">
            No
          </label>
        </div>
      </fieldset>
    </div>

    <div class="js-have-other-followup d-none form-group">
      <label for="inputAnimal_types">Please list the other types of animals.</label>
      <textarea class="form-control" id="inputAnimal_types" rows="3" ></textarea>
    </div>
  </div>

  <div class="d-none js-have-animals-followup form-group">
    <div class="js-seperate-animals-selector">
      <fieldset>
        <legend>Inside your home, are you able to separate your foster animals from your own animals or the animals that often visit if needed?</legend>
        <small id="separateHelpBlock" class="form-text text-muted">
           Until your animals and foster animals get used to each other or in case one gets sick, they may need to be separated for each other's safety and well-being.
        </small>
        <div class="form-check">
            <input class="form-check-input" aria-describedby="separateHelpBlock" type="radio" name="separateRadios" id="separateRadios1" value="Yes">
            <label class="form-check-label" for="separateRadios1">
            Yes
            </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="separateRadios" id="separateRadios2" value="No">
          <label class="form-check-label" for="separateRadios2">
          No
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="separateRadios" id="separateRadios3" value="Maybe">
          <label class="form-check-label" for="separateRadios3">
          Maybe
          </label>
        </div>
      </fieldset>
    </div>
    <div class="alert alert-warning d-none js-seperate-animals-alert row" role="alert">
        <i class="fas fa-exclamation-triangle fa-2x fa-fw col-md-1"></i>
        <div class="col-md-11 alert-body">
          <p>You may continue the application, but before taking home a foster animal, please consider your options and determine how you could separate the animals if needed.</p>
          <p>It is important that you have a plan in place to separate foster pets from the other pets in your home for their safety and well-being. It can be as simple as keeping them in separate rooms, crates, or using a baby gate as a barrier. </p>
        </div>
    </div>
    {% include add_explanation.html %}
  </div>

  <a class="btn btn-primary" href="Help_info.html" role="button">Next</a>
  <a class="btn btn-outline-primary" href="Home_info.html" role="button">Back</a>
</form>
