<div class="js-add-explanation form-group add-explanation">
  <span class="btn btn-sm btn-outline-primary js-add-explanation-trigger" role="button" aria-labelledby="additional_info">+</span>
  <label id="additional_info" for="inputAdd-explanation">Add additional information</label>
  <small id="add_explanationHelpInline" class="text-muted">
    Optional
  </small>
  <textarea class="d-none js-explanation-field form-control" id="inputAdd-explanation" name="name" rows="3" cols="80"></textarea>
</div>
